{% extends 'base.html' %}
{% block title %}
    Lista quizów
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h2>Kategorie</h2>
        <ul>
            <li><a href="{% url 'quiz_list' %}">Wszystkie</a></li>
            {% for category in categories %}
                <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="quiz-list">
        {% if category %}
            <h2>{{ category }}</h2>
        {% else %}
            <h2>Quizy</h2>
        {% endif %}
        {% for quiz in quizzes %}
            <div class="quiz-card">
                <h3>{{ quiz.title }}</h3>
                <p>{{ quiz.description | truncatewords:30 }}</p>
                <p><a href="{{ quiz.get_absolute_url }}" class="button">Przystąp do quizu</a></p>
            </div>
        {% endfor %}
        {% include 'pagination.html' with page=quizzes %}
    </div>

{% endblock %}